<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.suplayer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/httpxenable"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".tv.local.LocVideoListActivity"></activity>
        <activity
            android:name=".tv.PlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
          />
        <activity
            android:name=".example.ProgressActivity"
            android:label="@string/title_activity_progress"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".example.xiaohongshu.HongshuActivity" />
        <activity
            android:name=".productdetail.ProdetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".example.douyin.DouYinActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".SimpleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".tv.alive.TVAliveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".productdetail.media.ProductMediaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>